.store-my-item img {
    width: 128px;
    float: left;
    margin-right: 15px;
}

.store-my-item a.asset-title {
    color: #333333;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
#no-data-my-items, #no-data-my-items a {
    font-size: 18px;
}

#no-data-my-items .btn-primary {
    padding: 10px 20px;
}

.store-my-item .btn-group {
    display: block;
    margin-top: 20px;
}

a.site{
display:none;
}
.store-my-item{
	position:relative;
}

.asset-in-gadget{
	width: 100% !important;
	left: 0;
}

.own-asset-slideshow-cont .asset{
    width:200px;
    margin-right: 17px;
    display: inline-block;
}
.own-asset-slideshow-cont .asset:first-child{
    margin-left:10px;
}


.own-asset-slideshow-pag {
    height: 39px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 0;
}
.own-asset-slideshow-pag a{
    width:8px;
    height:39px;
    font-size:0;
    background:url(../img/asset-slideshow-pag.png) no-repeat center right;
    margin-left:8px;
    display:inline-block;
    float:left;
}
.own-asset-slideshow-pag a.selected{
    background-position:center left;
}
