#donutDetails {
    list-style: none;
}

#donutDetails li {
    font-size: 11px;
}

svg {
    position: relative;
    float: left;
}

#back {
    float: left;
    background: linear-gradient(#9fbfe7, #6e84a0) repeat scroll 0 0 #87a2c4;
    border: #000000;
    font-size: 12px;
    color: antiquewhite;
}

#path-container {
    margin-bottom: 20px;
}

#path-container text {
    margin: 20px;
    font-size: 12px;
    font-family: monospace;
    color:#610796
}

#donutDetails div {
    width: 10px;
    height: 10px;
    display: block;
    position: relative;
    float: left;
}

#donutDetails span {
    position: relative;
    margin-left: 10px;
}
