body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {

}

.line
{
    fill: none;
    stroke: #D8A31D;
    stroke-width: 3px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 8px;
    pointer-events: none;
}