.background {
    fill: none;
    pointer-events: all;
}

#container {
    position: relative;
}

#states {
    fill: #aaa;
}

#states .active {
    fill: orange;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

#map-keys {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
}

#map-keys li {
    display: inline-block;
    font-size: 11px;
}

#map-keys div {
    width: 10px;
    height: 10px;
    float: left;
    margin-left: 5px
}

#map-keys span {
    position: relative;
    margin-left: 5px;
}

.datamaps-hoverover {
    z-index: 10001;
    position: absolute;
    display: none;
}

.datamaps-hoverover div {
    font-family: monospace;
    font-size: 14px;
    background: #eee;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 8px;
}